* {
  box-sizing: border-box;
}

.app-wrapper {
  margin: 40px;
}

.game-board {
}

.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #eee;
  outline: 1px solid #dedede;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 10px;
}

.cell:hover {
  background: #e3e3e3;
}

.cell:active {
  background: #414141;
  color: #fff;
}
