* {
  box-sizing: border-box;
}


.app-wrapper {
  margin: 40px;
}

.game-board {
  border: 1px solid #eee;
  

}

.cell {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #eee;
  outline: 1px solid #dedede;
  text-align: center;
  cursor: pointer;
}

.cell:hover {
  background: #e3e3e3;
}

.cell:active {
  background: #414141;
}